In [1]:
import pandas as pd
import numpy as np

In [11]:
ent = pd.read_csv('my_experiment_ent.txt',sep='\t',header=None,encoding='utf-8',names=['name'])
ent.head()

                        name
0     Advanced_Micro_Devices
1                Mount_Baker
2                  Half_Dome
3            Allegheny_River
4  Au_Sable_River_(Michigan)

In [7]:
len(ent)

84988

In [10]:
ent2point = pd.read_csv('ent2point.txt', sep='\t',encoding='utf-8')
ent2point.head()

                                 name        lat        long
0                    Forest_Institute  37.160378  -93.336600
1                 Forest_Lake_Academy  28.669600  -81.438502
2       Forest_Lake_State_High_School -27.623714  152.971706
3   Forest_Park_High_School_(Indiana)  38.227602  -86.857853
4  Forest_Park_High_School_(Maryland)  39.332000  -76.689000

In [12]:
ent2p = pd.merge(ent2point, ent)
len(ent2p)

84988

In [15]:
ent2p.to_csv('experiment_ent2point.txt',sep='\t', encoding='utf-8', index=False)